{% extends "ActivoFijo/base.html" %}
{% load static %}
{% block title%}
Asignaciones / Busqueda
{% endblock %}

{% block content %}
<h2>Asignaciones / Busqueda </h2>

<div class="contain">
    <div class="row">
      <form action="" method="get">
      <div class="col-md-12">
        <button type="submit" style="background-color:transparent; border: 0cap; color: white;"></button> 
        <table class="table table-condensed table-responsive table-striped">
          <thead>
            <tr>
              <th>
                <div class="col-auto">
                  <div class="input-group">
                    <div class="input-group-text"><a href="#">↑↓</a></div>
                    <input type="text" name="Ticket KACE" value="" placeholder="Ticket KACE" aria-label="Ticket KACE">
                  </div>
                </div>
              </th>
              <th>
                <div class="col-auto">
                  <div class="input-group">
                    <div class="input-group-text"><a href="#" >↑↓</a></div>
                    <input type="text" name="Category" value="" placeholder="Category" aria-label="Category">
                  </div>
                </div>
              </th>
              <th>
                <div class="col-auto">
                  <div class="input-group">
                    <div class="input-group-text"><a href="#" >↑↓</a></div>
                    <input type="text" name="Serial Number" value=""  placeholder="Serial Number" aria-label="Serial Number">
                    </div>
                  </div>
                </div>
              </th>
              <th>
                <div class="col-auto">
                  <div class="input-group">
                    <div class="input-group-text"><a href="#" >↑↓</a></div>
                    <input type="text" name="Serial Number" value=""  placeholder="Serial Number" aria-label="Serial Number">
                    </div>
                  </div>
                </div>
              </th>
              <th>
                <div class="col-auto">
                  <div class="input-group">
                    <div class="input-group-text"><a href="#" >↑↓</a></div>
                    <input type="text" name="Serial Number" value=""  placeholder="Employee" aria-label="Employee">
                    </div>
                  </div>
                </div>
              </th>

{% endblock %}