{% extends "ActivoFijo/base.html" %}
{% load static %}
{% block title%}
    Home
{% endblock %}

{% block content %}
<h2 class="subtitulo">Bienvenido  </h2>
<h3></h3>
<br><br><br>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-secondary ms-2" role="button"  href= "/activo" > Activos </a>
    <a class="btn btn-outline-secondary ms-2" role="button" href="/software">Software</a>
    <a class="btn btn-outline-secondary ms-2" role="button" href="/consumible">Consumible</a>
    <a class="btn btn-outline-secondary ms-2" role="button" href="/hardware">Hardware</a>
    <a class="btn btn-outline-secondary ms-2" role="button" href="/telefonia">Telefonia</a>

</div>



{% endblock %}
